{
  "file": 1,
  "format": 1
}{
  "commands": [
    [
      "f7e4d2ff03c8a657163915b464fae2e9998543cd",
      "complete",
      "/mnt/deluge/config/execute_completed.sh"
    ],
    [
      "4c534a5d0962db0f590a3a9f10417c7d03167eb9",
      "added",
      "/mnt/deluge/config/execute_added.sh"
    ]
  ]
}
